
/* .container{
    color:black;
    display:flex;
    overflow:hidden;
    margin:auto;
} */
/* img{
    width:200px;
    height:200px;
} */

.box{
    padding:10px 10px;
}

.box h5{
    font-size:16px;
}
