<p>reactive-program works!</p>
<!-- 
    -Reactive programming is a programming paradigm dealing with data streams and the propagation of changes 
    -Data streams may be static or dynamic.
    -Reactive programming enables 
    the data stream to be emitted from one source called Observable and the emitted data stream to be caught by other sources called Observer through a process called subscription.

    RxJS Library to handle the Reactive programming
    - RxJS supports the below advanced concepts

    - Data Transfer between 
-->

<button id="demo"></button>