<section class="aboutus">
    <div class="container">
        <h1 class="text-center mb-5 bg-dark text-white p-3">About Us</h1>
        <h3>Who We Are?</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo dolores voluptatibus repellendus aliquid earum et voluptatum suscipit adipisci! Perferendis necessitatibus culpa iusto atque ea rem, hic laboriosam harum voluptatibus suscipit officiis architecto itaque, error tempore ducimus placeat aperiam veritatis ipsa molestiae? Animi illum ut cumque ipsam dolores commodi nemo vero in tempora. Repudiandae saepe est maxime quia laudantium ipsum nulla nisi culpa eos, voluptate ab dolore voluptates impedit minus iste totam corporis atque doloribus facilis.</p>
        <h3>Vision</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo dolores voluptatibus repellendus aliquid earum et voluptatum suscipit adipisci! Perferendis necessitatibus culpa iusto atque ea rem, hic laboriosam harum voluptatibus suscipit officiis architecto itaque, error tempore ducimus placeat aperiam veritatis ipsa molestiae? Animi illum ut cumque ipsam dolores commodi nemo vero in tempora. Repudiandae saepe est maxime quia laudantium ipsum nulla nisi culpa eos, voluptate ab dolore voluptates impedit minus iste totam corporis atque doloribus facilis.</p>
        <h3>Goals</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo dolores voluptatibus repellendus aliquid earum et voluptatum suscipit adipisci! Perferendis necessitatibus culpa iusto atque ea rem, hic laboriosam harum voluptatibus suscipit officiis architecto itaque, error tempore ducimus placeat aperiam veritatis ipsa molestiae? Animi illum ut cumque ipsam dolores commodi nemo vero in tempora. Repudiandae saepe est maxime quia laudantium ipsum nulla nisi culpa eos, voluptate ab dolore voluptates impedit minus iste totam corporis atque doloribus facilis.</p>
    </div>

    <footer>
        <div class="container text-center box">
            <h1>Follw Us</h1>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
            <a href="#">Snap Chat</a>
        </div>

    </footer>
</section>
